<div class="wrapper">  <div class="page-header page-header-large">
      <!-- <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/2375_4a.jpg');">
      </div> -->
      <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/travel-trailer-gypsies-9c69a.appspot.com/o/Optimized-2375_4a.jpg?alt=media&token=7385f63b-cccb-4dd0-8d63-a89440c8f8b8');">
      </div>
      <div class="container">
          <div class="content-center">
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <h1 class="title">Life, as we know it...</h1>
              <!-- <div class="text-center">
                  <a href="#pablo" class="btn btn-primary btn-icon btn-round">
                      <i class="fa fa-facebook-square"></i>
                  </a>
                  <a href="#pablo" class="btn btn-primary btn-icon btn-round">
                      <i class="fa fa-twitter"></i>
                  </a>
                  <a href="#pablo" class="btn btn-primary btn-icon btn-round">
                      <i class="fa fa-google-plus"></i>
                  </a>
              </div> -->
          </div>
      </div>
  </div>
  <div class="section section-about-us">
      <div class="container">
          <div class="row">
              <div class="col-md-8 ml-auto mr-auto text-center">
                  <h2 class="title">Who we are</h2>
                  <h5 class="description">We're Jim and Eloisa Garoutte and we're lucky enough to be living our dream!
                  </h5>
              </div>
          </div>
          <div class="separator separator-primary"></div>
          <div class="section-story-overview">
              <div class="row">
                  <div class="col-md-6">
                      <div class="image-container image-left" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/travel-trailer-gypsies-9c69a.appspot.com/o/September_2018_route.jpg?alt=media&token=f45a7e5f-ae70-471c-af69-8658c9224695')">
                          <!-- First image on the left side -->
                          <p class="blockquote blockquote-primary">"Moving me down the highway. Rolling me down the highway. Moving ahead so life won't pass me by. "
                              <br>
                              <br>
                              <small>-Jim Croce</small>
                          </p>
                      </div>
                      <!-- Second image on the left side of the article -->
                      <div class="image-container" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/travel-trailer-gypsies-9c69a.appspot.com/o/2375_2.jpg?alt=media&token=9048391c-d613-46b6-ad0d-59f686b73f49')"></div>
                  </div>
                  <div class="col-md-5">
                      <!-- First image on the right side, above the article -->
                      <div class="image-container image-right" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/travel-trailer-gypsies-9c69a.appspot.com/o/Jim_Elo_1.jpg?alt=media&token=f9b3dae9-72fd-4670-b739-7af76d9944ae')"></div>
                      <h3>Pursuing a life filled with new experiences.</h3>
                      <p>
                          Eloisa always said "I don't want to wait until we retire to get to travel!". But like most people, jobs and children kept us locked into a schedule that only allowed us the opportunity to travel on weekends, holidays and for two weeks of vacation each year. Coincidentally, that all changed in 2018 when two things happened: I got a remote job and our only child went off to college.
                      </p> 
                      <p>
                          Suddenly we had all this freedom to travel, but travelling is expensive...so how can we do it without going into debt? Well, we've always loved to camp. In fact, we were avid tent campers for 25 years. But in 2011 we felt we were getting a bit too old to crawl in and out of a tent so we took the plunge and bought our first travel trailer, a used 21 foot bunkhouse model made by R-Vision. Here was our solution, we'd see the country in our 21 foot travel trailer!
                      </p>
                      <p>
                          Our first trip (as empty nesters) was for the entire month of September 2018, right after we dropped our daughter off at college. We took a 2000 mile jaunt through parts of Texas, New Mexico, and Colorado and that's where we discovered that our little travel trailer just wasn't big enough for our new lifestyle. After lots of research by Eloisa, we decided on replacing it with the 2019 Lance 2375 you see pictured above.
                      </p>                          
                      <p>
                          The blog posts on this website will contain stories, information and photos about our experiences. Thanks for stopping by!
                      </p>
                      <p>Jim Garoutte, February 2019</p> 
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="section section-team text-center">
      <div class="container">
          <h2 class="title">Here is our team</h2>
          <div class="team">
              <div class="row">
                  <div class="col-md-4">
                      <div class="team-player">
                          <img src="https://firebasestorage.googleapis.com/v0/b/travel-trailer-gypsies-9c69a.appspot.com/o/Eloisa_Garoutte_2.jpg?alt=media&token=f91061f4-6201-4d7f-bb4f-ef34ad7c6fd0" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                          <h4 class="title">Eloisa Garoutte</h4>
                          <p class="category text-primary">Logistics and Photography</p>
                          <p class="description">Eloisa is our resident logistics expert. Every bite of food, 
                              item of clothing and creature comfort available in our trailer can be attributed 
                              to her skill at planning and preparation. In addition, she is an artist of 
                              considerable range. She draws, paints, and documents our travels through her 
                              beautiful photography. And finally, she's an extremely talented chef who prepares 
                              gourmet meals for us while we're on the road!
                              <!-- <a href="#">links</a> for people to be able to follow them outside the site. -->
                          </p>
                          <!-- <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fa fa-twitter"></i></a>
                          <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fa fa-instagram"></i></a>
                          <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fa fa-facebook-square"></i></a> -->
                      </div>
                  </div>
                  <div class="col-md-4">
                      <div class="team-player">
                          <img src="https://firebasestorage.googleapis.com/v0/b/travel-trailer-gypsies-9c69a.appspot.com/o/Jim_Garoutte_8.jpg?alt=media&token=9996d5ea-9d56-4236-bec3-395d1049a8a0" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                          <h4 class="title">Jim Garoutte</h4>
                          <p class="category text-primary">Driving and Website Development</p>
                          <p class="description">Jim does all of the driving, firewood chopping and outdoor 
                              grilling. He also determines which gas stations to stop at, which is not always 
                              an easy task while towing a 28 ft travel trailer! Additionally, he is using his 
                              Angular programming skills (in conjunction with the Creative Tim template) to 
                              develop this website.
                              <!-- <a href="#">links</a> for people to be able to follow them outside the site. -->
                          </p>
                          <!-- <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fa fa-twitter"></i></a>
                          <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fa fa-linkedin"></i></a> -->
                      </div>
                  </div>
                  <div class="col-md-4">
                      <div class="team-player">
                          <img src="https://firebasestorage.googleapis.com/v0/b/travel-trailer-gypsies-9c69a.appspot.com/o/Indi_4.jpg?alt=media&token=e6f1714b-dce8-47cc-b810-052d8fb54448" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                          <h4 class="title">Iñigo Montoya (Indi)</h4>
                          <p class="category text-primary">Security and Unconditional Love</p>
                          <p class="description">Indi's vigilance keeps us safe from all manner of real and imaginary threats. He also makes us feel better on drab and dreary days with his gentle demeanor and sweet face. He's a good boy!
                              <!-- <a href="#">links</a> for people to be able to follow them outside the site. -->
                          </p>
                          <!-- <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fa fa-google-plus"></i></a>
                          <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fa fa-youtube-play"></i></a>
                          <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fa fa-twitter"></i></a> -->
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- <div class="section section-contact-us text-center">
      <div class="container">
          <h2 class="title">Want to work with us?</h2>
          <p class="description">Your project is very important to us.</p>
          <div class="row">
              <div class="col-lg-6 text-center col-md-8 ml-auto mr-auto">
                <div class="input-group input-lg" [ngClass]="{'input-group-focus':focus===true}">
                  <div class="input-group-prepend" >
                    <span class="input-group-text">
                        <i class="now-ui-icons users_circle-08"></i>
                    </span>
                  </div>
                    <input type="text" class="form-control" placeholder="Left Font Awesome Icon" (focus)="focus=true" (blur)="focus=false">
                </div>
                <div class="input-group input-lg" [ngClass]="{'input-group-focus':focus1===true}">
                  <div class="input-group-prepend" >
                    <span class="input-group-text">
                          <i class="now-ui-icons ui-1_email-85"></i>
                    </span>
                  </div>
                    <input type="text" class="form-control" placeholder="Left Font Awesome Icon" (focus)="focus1=true" (blur)="focus1=false">
                </div>
                  <div class="textarea-container">
                      <textarea class="form-control" name="name" rows="4" cols="80" placeholder="Type a message..."></textarea>
                  </div>
                  <div class="send-button">
                      <a href="#pablo" class="btn btn-primary btn-round btn-block btn-lg">Send Message</a>
                  </div>
              </div>
          </div>
      </div>
  </div> -->
  <footer class="footer footer-default">
      <div class="container">
          <nav>
              <ul>
                  <!-- <li>
                      <a href="https://www.creative-tim.com">
                          Creative Tim
                      </a>
                  </li>
                  <li>
                      <a href="https://www.creative-tim.com/about-us">
                          About Us
                      </a>
                  </li>
                  <li>
                      <a href="http://blog.creative-tim.com">
                          Blog
                      </a>
                  </li> -->
                  <li>
                      <a href="https://github.com/creativetimofficial/now-ui-kit/blob/master/LICENSE.md">
                          MIT License
                      </a>
                  </li>
              </ul>
          </nav>
          <div class="copyright">
              &copy;
              {{data | date: 'yyyy'}}, Designed by
              <a href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded by
              <a href="https://www.creative-tim.com" target="_blank">Creative Tim and Jim Garoutte</a>.
          </div>
      </div>
  </footer>
</div>
