<div class="wrapper">
  <div class="page-header page-header-small">
    <div
      class="page-header-image rellax-header"
      data-rellax-speed="-8"
      style="background-image: url({{ blog?.page_header_image_url }});"
    ></div>
    <div class="content-center">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <h2 class="title">{{ blog?.title }}</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <!-- <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <div class="button-container">
                      <a href="#pablo" class="btn btn-primary btn-round btn-lg">
                          <i class="now-ui-icons text_align-left"></i> Read Article
                      </a>
                      <a href="#pablo" class="btn btn-icon btn-lg btn-twitter btn-round">
                          <i class="fa fa-twitter"></i>
                      </a>
                      <a href="#pablo" class="btn btn-icon btn-lg btn-facebook btn-round">
                          <i class="fa fa-facebook-square"></i>
                      </a>
                      <a href="#pablo" class="btn btn-icon btn-lg btn-google btn-round">
                          <i class="fa fa-google"></i>
                      </a>
                  </div>
              </div>
          </div>
      </div> -->
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
            <h3 class="title">{{ blog?.section1_title }}</h3>
            <p>
              {{ blog?.section1_paragraph1 }}
            </p>
            <p>
              {{ blog?.section1_paragraph2 }}
            </p>
            <p>
              {{ blog?.section1_paragraph3 }}
            </p>
            <p>
              {{ blog?.section1_paragraph }}
            </p>
            <p class="blockquote blockquote-primary">
              {{ blog?.blockquote1_text }}
              <br />
              <br />
              <small>
                {{ blog?.blockquote1_author }}
              </small>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="section section-blog col-md-10 ml-auto mr-auto">
      <div class="container">
        <div class="section-story-overview">
          <div class="row">
            <div class="col-md-6">
              <div
                class="image-container image-left"
                style="background-image: url({{ blog?.image_left_url }})"
              >
                <!-- First image on the left side -->
                <p class="blockquote blockquote-primary">
                  {{ blog?.blockquote2_text }}
                  <br />
                  <br />
                  <small> -{{ blog?.blockquote2_author }} </small>
                </p>
              </div>
              <!-- Second image on the left side of the article -->
              <div
                class="image-container image-left-bottom"
                style="background-image: url({{ blog?.image_left_bottom_url }})"
              ></div>
            </div>
            <div class="col-md-5">
              <!-- First image on the right side, above the article -->
              <div
                class="image-container image-right"
                style="background-image: url({{ blog?.image_right_url }})"
              ></div>
              <h3 class="title">{{ blog?.section2_title }}</h3>
              <p>
                {{ blog?.section2_paragraph1 }}
              </p>
              <p>
                {{ blog?.section2_paragraph2 }}
              </p>
              <p>
                {{ blog?.section2_paragraph3 }}
              </p>
              <p>
                {{ blog?.section2_paragraph4 }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
            <h3 class="title">{{ blog?.section3_title }}</h3>
            <p>
              {{ blog?.section3_paragraph1 }}
            </p>
            <p>
              {{ blog?.section3_paragraph2 }}
            </p>
            <p>
              {{ blog?.section3_paragraph3 }}
            </p>
            <p>
              {{ blog?.section3_paragraph4 }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="section section-blog-info">
          <div class="container">
              <div class="row">
                  <div class="col-md-8 ml-auto mr-auto">
                      <div class="row">
                          <div class="col-md-6">
                              <div class="blog-tags">
                                  Tags:
                                  <span class="label label-primary">Photography</span>
                                  <span class="label label-primary">Stories</span>
                                  <span class="label label-primary">Castle</span>
                              </div>
                          </div>
                          <div class="col-md-6">
                              <a href="#pablo" class="btn btn-google btn-round pull-right">
                                  <i class="fa fa-google"></i> 232
                              </a>
                              <a href="#pablo" class="btn btn-twitter btn-round pull-right">
                                  <i class="fa fa-twitter"></i> 910
                              </a>
                              <a href="#pablo" class="btn btn-facebook btn-round pull-right">
                                  <i class="fa fa-facebook-square"></i> 872
                              </a>
                          </div>
                      </div>
                      <hr />
                      <div class="card card-profile card-plain">
                          <div class="row">
                              <div class="col-md-2">
                                  <div class="card-avatar">
                                      <a href="#pablo">
                                          <img class="img img-raised" src="assets/img/mike.jpg">
                                      </a>
                                      <div class="ripple-container"></div>
                                  </div>
                              </div>
                              <div class="col-md-8">
                                  <h4 class="card-title">Alec Thompson</h4>
                                  <p class="description">I've been trying to figure out the bed design for the master bedroom at our Hidden Hills compound...I like good music from Youtube.</p>
                              </div>
                              <div class="col-md-2">
                                  <button type="button" class="btn btn-default pull-right btn-round">Follow</button>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div> -->
    <div class="section section-comments">
      <div class="container">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
            <div class="media-area">
              <h3 class="title text-center">Comments</h3>
              <div *ngFor="let comment of comments" class="media">
                <a class="pull-left" href="#pablo">
                  <div class="avatar">
                    <img
                      class="media-object img-raised"
                      src="{{ comment?.creator_image }}"
                      onerror="this.src='assets/img/placeholder.jpg';"
                    />
                  </div>
                </a>
                <div class="media-body">
                  <h5 class="media-heading">
                    {{ comment?.creator_name }}
                    <small class="text-muted"
                      >&middot;
                      {{ comment?.created_date | date: "medium" }}</small
                    >
                  </h5>
                  <p>{{ comment?.content }}</p>
                  <p></p>
                  <!-- <div class="media-footer">
                    <a
                      href="#pablo"
                      class="btn btn-primary btn-neutral pull-right"
                      placement="top"
                      ngbTooltip="Edit Comment"
                    >
                      <i class="now-ui-icons ui-1_send"></i> 
                      Edit
                    </a>
                    <a
                      href="#pablo"
                      class="btn btn-danger btn-neutral pull-right"
                    >
                      <i class="now-ui-icons ui-2_favourite-28"></i> 243
                    </a>
                  </div> -->

                  <div class="media-footer">
                    <a
                      *ngIf="afAuth.user | async as user"
                      class="btn btn-danger btn-neutral pull-right"
                      (click)="onDelete(comment.id)"
                      placement="top"
                      ngbTooltip="Delete"
                    >
                      <!-- <i class="now-ui-icons ui-2_favourite-28"></i> 25 -->
                      <i class="fas fa-trash-alt"></i> Delete
                    </a>
                    <a
                      *ngIf="afAuth.user | async as user"
                      class="btn btn-primary btn-neutral pull-right"
                      (click)="onEdit(comment.id)"
                      placement="top"
                      ngbTooltip="Edit"
                    >
                      <!-- <i class="now-ui-icons ui-1_send"></i> Edit -->
                      <i class="fas fa-edit"></i> Edit
                    </a>
                  </div>
                </div>
              </div>
              <!-- <div class="media">
                              <a class="pull-left" href="#pablo">
                                  <div class="avatar">
                                      <img class="media-object img-raised" alt="Tim Picture" src="assets/img/michael.jpg">
                                  </div>
                              </a>
                              <div class="media-body">
                                  <h5 class="media-heading">John Camber
                                      <small class="text-muted">&middot; Yesterday</small>
                                  </h5>
                                  <p>Hello guys, nice to have you on the platform! There will be a lot of great stuff coming soon. We will keep you posted for the latest news.</p>
                                  <p> Don't forget, You're Awesome!</p>
                                  <div class="media-footer">
                                      <a href="#pablo" class="btn btn-primary btn-neutral pull-right" placement="top" ngbTooltip="Reply to Comment">
                                          <i class="now-ui-icons ui-1_send"></i> Reply
                                      </a>
                                      <a href="#pablo" class="btn btn-danger btn-neutral pull-right">
                                          <i class="now-ui-icons ui-2_favourite-28"></i> 25
                                      </a>
                                  </div>
                                  <div class="media">
                                      <a class="pull-left" href="#pablo">
                                          <div class="avatar">
                                              <img class="media-object img-raised" alt="64x64" src="assets/img/julie.jpg">
                                          </div>
                                      </a>
                                      <div class="media-body">
                                          <h5 class="media-heading">Tina Andrew
                                              <small class="text-muted">· 2 Days Ago</small>
                                          </h5>
                                          <p>Hello guys, nice to have you on the platform! There will be a lot of great stuff coming soon. We will keep you posted for the latest news.</p>
                                          <p> Don't forget, You're Awesome!</p>
                                          <div class="media-footer">
                                              <a href="#pablo" class="btn btn-primary btn-neutral pull-right" placement="top" ngbTooltip="Reply to Comment">
                                                  <i class="now-ui-icons ui-1_send"></i> Reply
                                              </a>
                                              <a href="#pablo" class="btn btn-danger btn-neutral pull-right">
                                                  <i class="now-ui-icons ui-2_favourite-28"></i> 2
                                              </a>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div> -->
            </div>
            <div *ngIf="afAuth.user | async as user">
              <form
                class="form was-validated"
                (submit)="onAddComment(commentForm)"
                #commentForm="ngForm"
              >
                <h3 class="title text-center">Post your comment</h3>
                <div class="media media-post">
                  <a class="pull-left author" href="#pablo">
                    <div class="avatar">
                      <img
                        class="media-object img-raised"
                        src="{{ user?.photoURL }}"
                        onerror="this.src='assets/img/placeholder.jpg';"
                      />
                    </div>
                  </a>
                  <div class="media-body">
                    <!-- <h5 class="media-heading">
                  <textarea
                    class="form-control"
                    placeholder="Comment Title..."
                    ngModel
                    required
                    name="title"
                    #titleInput="ngModel"
                  ></textarea> -->
                    <!-- <div class="valid-feedback">Valid.</div>-->
                    <!-- <div class="invalid-feedback" *ngIf="titleInput.invalid">
                    Please enter a valid title.
                  </div>  -->
                    <!-- </h5> -->
                    <h5 class="media-heading">
                      <textarea
                        class="form-control"
                        ngModel
                        placeholder="Comment Content..."
                        rows="4"
                        required
                        name="content"
                        #contentInput="ngModel"
                      ></textarea>
                      <!-- <div class="valid-feedback">Valid.</div>-->
                      <!-- <div class="invalid-feedback" *ngIf="contentInput.invalid">
                    Please enter valid content.
                  </div>  -->
                    </h5>
                    <div class="media-footer">
                      <!-- <a href="#pablo" class="btn btn-primary pull-right">
                              <i class="now-ui-icons ui-1_send"></i> Reply
                          </a> -->
                      <button class="btn btn-primary pull-right" type="submit">
                        Post
                      </button>
                    </div>
                  </div>
                </div>
              </form>
              <!-- <h3 class="title text-center">Post your comment</h3>
              <div class="media media-post"> -->
              <!-- <a class="pull-left author" href="#pablo">
                              <div class="avatar">
                                  <img class="media-object img-raised" alt="64x64" src="assets/img/olivia.jpg">
                              </div>
                          </a> -->
              <!-- <div class="media-body">
                  <textarea
                    class="form-control"
                    placeholder="Write a nice comment or go home..."
                    rows="4"
                    required
                    #commentContent
                  ></textarea>
                  <div class="media-footer">
                    <a
                      (click)="addComment(commentContent.value)"
                      class="btn btn-primary pull-right"
                    >
                      <i class="now-ui-icons ui-1_send"></i> Submit
                    </a>
                  </div>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="section">
          <div class="container">
              <div class="col-md-12">
                  <h2 class="title text-center">Similar Stories</h2>
                  <br />
                  <div class="blogs-1" id="blogs-1">
                      <div class="row">
                          <div class="col-md-10 ml-auto mr-auto">
                              <div class="card card-plain card-blog">
                                  <div class="row">
                                      <div class="col-md-5">
                                          <div class="card-image">
                                              <img class="img img-raised rounded" src="assets/img/examples/card-blog4.jpg">
                                          </div>
                                      </div>
                                      <div class="col-md-7">
                                          <h6 class="category text-info">Enterprise</h6>
                                          <h3 class="card-title">
                                              <a href="#pablo">Warner Music Group buys concert discovery service Songkick</a>
                                          </h3>
                                          <p class="card-description">
                                              Warner Music Group announced today it’s acquiring the selected assets of the music platform Songkick, including its app for finding concerts and the company’s trademark.
                                          </p>
                                          <p class="author">
                                              by
                                              <a href="#pablo">
                                                  <b>Sarah Perez</b>
                                              </a>, 2 days ago
                                          </p>
                                      </div>
                                  </div>
                              </div>
                              <div class="card card-plain card-blog">
                                  <div class="row">
                                      <div class="col-md-7">
                                          <h6 class="category text-danger">
                                              <i class="now-ui-icons now-ui-icons media-2_sound-wave"></i> Startup
                                          </h6>
                                          <h3 class="card-title">
                                              <a href="#pablo">Insticator raises $5.2M to help publishers</a>
                                          </h3>
                                          <p class="card-description">
                                              Insticator is announcing that it has raised $5.2 million in Series A funding. The startup allows online publishers to add quizzes, polls and other interactive elements...
                                          </p>
                                          <p class="author">
                                              by
                                              <a href="#pablo">
                                                  <b>Anthony Ha</b>
                                              </a>, 5 days ago
                                          </p>
                                      </div>
                                      <div class="col-md-5">
                                          <div class="card-image">
                                              <img class="img img-raised rounded
                                      " src="assets/img/examples/card-blog6.jpg">
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div> -->
  </div>
  <!-- <app-comments></app-comments> -->
  <footer class="footer" data-background-color="black">
    <div class="container">
      <!-- <nav>
              <ul>
                  <li>
                      <a href="https://www.creative-tim.com">
                          Creative Tim
                      </a>
                  </li>
                  <li>
                      <a href="https://www.creative-tim.com/about-us">
                          About Us
                      </a>
                  </li>
                  <li>
                      <a href="http://blog.creative-tim.com">
                          Blog
                      </a>
                  </li>
                  <li>
                      <a href="https://www.creative-tim.com/license">
                          License
                      </a>
                  </li>
              </ul>
          </nav> -->
      <div class="copyright">
        &copy; {{ data | date: "yyyy" }}, Designed by
        <a href="https://www.invisionapp.com" target="_blank">Invision</a>.
        Coded by
        <a href="https://www.creative-tim.com" target="_blank"
          >Creative Tim and Jim Garoutte</a
        >.
      </div>
    </div>
  </footer>
</div>
