<div class="wrapper">
  <div class="page-header page-header-small">
    <div
      class="page-header-image rellax-header"
      data-rellax-speed="-8"
      style="background-image: url({{ blog?.page_header_image_url }});"
    ></div>
    <div class="content-center">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <h2 class="title">{{ blog?.title }}</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
            <h3 class="title">{{ blog?.section1_title }}</h3>
            <p>
              {{ blog?.section1_paragraph1 }}
            </p>
            <p>
              {{ blog?.section1_paragraph2 }}
            </p>
            <p>
              {{ blog?.section1_paragraph3 }}
            </p>
            <p>
              {{ blog?.section1_paragraph }}
            </p>
            <p class="blockquote blockquote-primary">
              {{ blog?.blockquote1_text }}
              <br />
              <br />
              <small>
                {{ blog?.blockquote1_author }}
              </small>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="section section-blog col-md-10 ml-auto mr-auto">
      <div class="container">
        <div class="section-story-overview">
          <div class="row">
            <div class="col-md-6">
              <div
                class="image-container image-left"
                style="background-image: url({{ blog?.image_left_url }})"
              >
                <!-- First image on the left side -->
                <p class="blockquote blockquote-primary">
                  {{ blog?.blockquote2_text }}
                  <br />
                  <br />
                  <small> -{{ blog?.blockquote2_author }} </small>
                </p>
              </div>
              <!-- Second image on the left side of the article -->
              <div
                class="image-container image-left-bottom"
                style="background-image: url({{ blog?.image_left_bottom_url }})"
              ></div>
            </div>
            <div class="col-md-5">
              <!-- First image on the right side, above the article -->
              <div
                class="image-container image-right"
                style="background-image: url({{ blog?.image_right_url }})"
              ></div>
              <h3 class="title">{{ blog?.section2_title }}</h3>
              <p>
                {{ blog?.section2_paragraph1 }}
              </p>
              <p>
                {{ blog?.section2_paragraph2 }}
              </p>
              <p>
                {{ blog?.section2_paragraph3 }}
              </p>
              <p>
                {{ blog?.section2_paragraph4 }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
            <h3 class="title">{{ blog?.section3_title }}</h3>
            <p>
              {{ blog?.section3_paragraph1 }}
            </p>
            <p>
              {{ blog?.section3_paragraph2 }}
            </p>
            <p>
              {{ blog?.section3_paragraph3 }}
            </p>
            <p>
              {{ blog?.section3_paragraph4 }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="section section-comments">
      <div class="container">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
            <div class="media-area">
              <h3 class="title text-center">Comments</h3>
              <div *ngFor="let comment of comments" class="media">
                <a class="pull-left" href="#pablo">
                  <div class="avatar">
                    <img
                      class="media-object img-raised"
                      src="{{ comment?.creator_image }}"
                      onerror="this.src='assets/img/placeholder.jpg';"
                    />
                  </div>
                </a>
                <div class="media-body">
                  <h5 class="media-heading">
                    {{ comment?.creator_name }}
                    <small class="text-muted"
                      >&middot;
                      {{ comment?.created_date | date: "medium" }}</small
                    >
                  </h5>
                  <p>{{ comment?.content }}</p>
                  <p></p>
                  <div class="media-footer" *ngIf="afAuth.user | async as user">
                    <div *ngIf="comment?.creator_name == user.displayName">
                      <a
                        class="btn btn-danger btn-neutral pull-right"
                        (click)="onDelete(comment)"
                        placement="top"
                        ngbTooltip="Delete"
                      >
                        <i class="fa fa-trash"></i> Delete
                      </a>
                      <!-- <input
                        [(ngModel)]="comment.content"
                        placeholder="content"
                      /> -->
                      <a
                        class="btn btn-primary btn-neutral pull-right"
                        (click)="onEdit()"
                        placement="top"
                        ngbTooltip="Edit"
                      >
                        <i class="fa fa-edit"></i> Edit
                      </a>
                      <form
                        *ngIf="isEditing"
                        class="form was-validated"
                        (submit)="onEditComment(commentForm)"
                        #commentForm="ngForm"
                      >
                        <h3 class="title text-center">Edit your comment</h3>
                        <div class="media media-post">
                          <a class="pull-left author" href="#pablo">
                            <div class="avatar">
                              <img
                                class="media-object img-raised"
                                src="{{ user?.photoURL }}"
                                onerror="this.src='assets/img/placeholder.jpg';"
                              />
                            </div>
                          </a>
                          <div class="media-body">
                            <h5 class="media-heading">
                              <textarea
                                class="form-control"
                                ngModel
                                placeholder=""
                                rows="4"
                                required
                                name="content"
                                #contentInput="ngModel"
                              ></textarea>
                            </h5>
                            <a class="media-footer">
                              <button
                                (click)="onCancel()"
                                class="btn btn-secondary"
                                onclick="onCancel()"
                              >
                                Cancel
                              </button>
                              <button
                                (click)="onEditSave()"
                                class="btn btn-primary pull-right"
                                onclick="onEditSave()"
                              >
                                Save
                              </button>
                            </a>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="afAuth.user | async as user">
              <form
                class="form was-validated"
                (submit)="onAddComment(commentForm)"
                #commentForm="ngForm"
              >
                <h3 class="title text-center">Post your comment</h3>
                <div class="media media-post">
                  <a class="pull-left author" href="#pablo">
                    <div class="avatar">
                      <img
                        class="media-object img-raised"
                        src="{{ user?.photoURL }}"
                        onerror="this.src='assets/img/placeholder.jpg';"
                      />
                    </div>
                  </a>
                  <div class="media-body">
                    <h5 class="media-heading">
                      <textarea
                        class="form-control"
                        ngModel
                        placeholder="Comment Content..."
                        rows="4"
                        required
                        name="content"
                        #contentInput="ngModel"
                      ></textarea>
                    </h5>
                    <div class="media-footer">
                      <button class="btn btn-primary pull-right" type="submit">
                        Post
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <footer class="footer" data-background-color="black">
              <div class="container">
                <div class="copyright">
                  &copy; {{ data | date: "yyyy" }}, Designed by
                  <a href="https://www.invisionapp.com" target="_blank"
                    >Invision</a
                  >. Coded by
                  <a href="https://www.creative-tim.com" target="_blank"
                    >Creative Tim and Jim Garoutte</a
                  >
                </div>
              </div>
            </footer>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
